rfc6266 should not raise on unsafe lws

[RFC 6266 section 3](https://tools.ietf.org/html/rfc6266#section-3) "Conformance and Error Handling"

> Recipients MAY take steps to recover a usable field value from an
>    invalid header field, but SHOULD NOT reject the message outright,
>    unless this is explicitly desirable behavior (e.g., the
>    implementation is a validator).  As such, the default handling of
>    invalid fields is to ignore them.
